---
import ContactForm from '../common/ContactForm.astro';
import Title from '../common/Title.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="contact" class="py-28 bg-terciary">
  <div class="container mx-auto">
    <Title>
      {t('lets-talk')}
    </Title>
    <ContactForm />
  </div>
</section>
