---
import { t } from 'i18next';
import ContactForm from '../common/ContactForm.astro';
import Title from '../common/Title.astro';
---

<div id="contact" class="py-28 bg-emerald-500 dark:bg-black">
  <div class="container mx-auto">
    <Title>
      {t('lets-taks')}
    </Title>
    <ContactForm />
  </div>
</div>
