---
import Title from '../common/Title.astro';
import ProjectItem from '../common/ProjectItem.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations, usefilterCollectionByLanguage } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = await getCollection('projects', usefilterCollectionByLanguage(lang));
---

<section id="projects" class="px-8 py-28">
  <Title>
    {t('projects')}
  </Title>
  <div class="container mx-auto mt-12 flex flex-col gap-28">
    {projects.map((item, index) => <ProjectItem entry={item} index={index} />)}
  </div>
</section>
