---
export interface Props {
  input?: string;
  name: string;
  label: string;
  [x: string]: any;
}

const { Input = 'input', name, label, ...props } = Astro.props;
---

<div class="relative z-0 mb-6 w-full group">
  <Input
    id={name}
    name={name}
    class="block py-2.5 px-0 w-full appearance-none text-sm tracking-wider text-gray-900 bg-transparent border-0 border-b-2 border-secondary-light dark:text-white focus:outline-none focus:ring-0 focus:border-secondary peer"
    placeholder=" "
    required
    {...props}
  />
  <label
    for={name}
    class="absolute font-thin text-sm tracking-wider text-gray-100 dark:text-gray-200 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
  >
    {label}
  </label>
</div>
