---
import { t } from 'i18next';
import { localizeUrl } from 'astro-i18next';
import { getCurrentLanguage, getLanguages } from '~/utils/locale';

const currentUrl = Astro.url.href;
const currentLanguage = getCurrentLanguage();
const supportedLanguages = await getLanguages();
---

<div class="text-sm mr-4 flex gap-1">
  {
    supportedLanguages.map((language: string) => (
      <a
        href={localizeUrl(currentUrl, language)}
        title={t(`locale-${language}`)}
        class={`uppercase ${language === currentLanguage ? 'underline' : ''}`}
      >
        {language}
      </a>
    ))
  }
</div>
