---
import { Icon } from 'astro-icon/components';
import { getLangFromUrl, useTranslatedPath } from '~/i18n/utils';
import { languages } from '~/i18n/config';

const currentLang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(currentLang);
---

<div class="flex gap-1 items-center mr-4">
  <Icon name="tabler:language" class="h-5 w-5" />
  <ul class="flex gap-1 font-thin">
    {
      Object.entries(languages).map(([lang, label]) => (
        <li>
          <a
            rel="alternate"
            href={translatePath('/', lang)}
            hreflang="{language}"
            lang="{language}"
            title={label}
            class={`uppercase ${lang === currentLang ? 'underline' : ''}`}
          >
            {lang}
          </a>
        </li>
      ))
    }
  </ul>
</div>
