---
import { t } from 'i18next';
import ThemeSwitch from './ThemeSwitch.astro';
import type { Navigation } from '~/types';
import Socials from './Socials.astro';
import NavbarCollapsibleHamburguer from './NavbarCollapsibleHamburguer.astro';

interface Props {
  navigation: Navigation;
}

const { navigation } = Astro.props;
---

<nav class="fixed z-40 w-full bg-black bg-opacity-20">
  <div class="relative container mx-auto flex justify-between z-10 p-4">
    <ThemeSwitch />
    <NavbarCollapsibleHamburguer />
  </div>

  <div
    id="nav"
    class="absolute hide top-0 h-screen w-screen bg-amber-500 dark:bg-red-500 transition-opacity duration-500"
  >
    <div class="pt-24 p-8 h-full flex flex-col justify-between">
      <ul class="flex flex-col items-center gap-8 tall:gap-20 my-auto">
        {
          navigation.map((item) => (
            <li>
              <a
                href={item.href}
                class="text-3xl hover:underline underline-offset-2 decoration-purple-500 tracking-wide px-3 py-2 rounded-md font-medium"
              >
                {t(item.name)}
              </a>
            </li>
          ))
        }
      </ul>
      <Socials />
    </div>
  </div>
</nav>

<script>
  const hamburguer = document.getElementById('menu-hamburguer')!;
  const nav = document.getElementById('nav')!;
  const links = document.querySelectorAll('#nav li a');
  let isOpen = false;

  function toggleNavbar() {
    isOpen = !isOpen;
    if (isOpen) {
      nav.classList.remove('hide');
      hamburguer.classList.add('open');
    } else {
      nav.classList.add('hide');
      hamburguer.classList.remove('open');
    }
  }

  hamburguer.addEventListener('click', toggleNavbar);

  links.forEach((link) => {
    link.addEventListener('click', toggleNavbar);
  });
</script>
