---
import i18next from 'i18next';
import MetaTags from '~/components/common/MetaTags.astro';
import type { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
  class?: string;
}

const language = i18next.language;
const { meta = {}, class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <MetaTags {...meta} />
  </head>

  <body class={className}>
    <slot />
  </body>
</html>
