---
import Layout from '~/layouts/BaseLayout.astro';
import Navbar from '~/components/widgets/Navbar.astro';
import Footer from '~/components/widgets/Footer.astro';
import type { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const { meta = {} } = Astro.props;
---

<Layout {meta} class="bg-primary text-gray-100 overflow-x-hidden">
  <slot name="navbar">
    <Navbar />
  </slot>

  <main>
    <slot />
  </main>

  <slot name="footer">
    <Footer />
  </slot>

  <script src="~/assets/scripts/aos"></script>
  <script src="~/assets/scripts/themes"></script>
</Layout>
